h1 {
    text-align: center;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 10px rgb(255, 255, 255);
    
}

#navbaari {
    background: transparent;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

html, body {
    margin: 0;
    padding: 0;
    background-image: url('../bootstrap_tehtävä/kuvat/AURINGONLASKU.jpg');
    background-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0,5px 0,5px #ffff;
}

img {
    width: 50%;
    height: 50%;
}


div[class^="frame"] {
    width: 400px;
    height: 450px;
    border: 3px solid #fff;
    background: #eee;
    margin: auto;
    padding: 15px 10px;
    white-space: nowrap;
}

.panel-default > .panel.heading {
    background-color: purple;
}




